footer{
    width: 100%;
    font-size: 25px;
    padding: 25px 0;
    background-image: url(../imagin/smoke3.jpg);
}
#kontakts{
    font-family: "Wide Latin";
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.item img{
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
    vertical-align: middle;
    margin-right: 5px;
}
.shops{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    color: white;
}

@media (max-width: 900px){
    #kontakts{
        font-size: 20px;
    }
}