.post{
    margin: 20px 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
    position: relative;
    padding: 15px;
    border-radius: .125em;
}

  
  .post::after{
    content:'';
    position: absolute;
    z-index: -1;
    top: -.125em;
    left: -.125em;
    width: calc(100% + .25em);
    height: calc(100% + .25em);
    border-radius: .25em;
    background-image: linear-gradient(45deg,#f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 200%;
    animation: animateborder 3s ease infinite paused;
  }
  
  .post:hover::after{
    animation-play-state: running;
  }
  
  @keyframes animateborder {
      0% {
          background-position: 0%;
      }
      50% {
          background-position: 100%;
      }
      100% {
          background-position: 0%;
      }
  }
  
  .text{
    color: #fff;
    font-size: 27px;
    padding: 5px;
}